<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finalyear.bookstock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".common.MainScreenActivity">
        </activity>
        <activity android:name=".cuctomer.RentBook" />
        <activity android:name=".cuctomer.ViewOrderCustomer" />
        <activity android:name=".cuctomer.UpdateOrder" />
        <activity android:name=".cuctomer.Placed" />
        <activity android:name=".cuctomer.BuyBook" />
        <activity android:name=".cuctomer.BookInfoOrder" />
        <activity android:name=".cuctomer.BookInfo" />
        <activity android:name=".extras.PreviewBook" />
        <activity android:name=".seller.AddBook" />
        <activity android:name=".cuctomer.AboutApp" />
        <activity
            android:name=".common.HomeSeller"
            android:label="@string/title_activity_home_seller"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cuctomer.ContactDeveloper" />
        <activity android:name=".cuctomer.PaymentHistoryC" />
        <activity android:name=".cuctomer.OrderHistoryC" />
        <activity android:name=".cuctomer.ProfileCustomer" />
        <activity
            android:name=".common.HomeCustomer"
            android:label="@string/title_activity_home_customer" />
        <activity android:name=".common.CreateAccountCustomer" />
        <activity android:name=".common.CreatAccountSeller" />
        <activity android:name=".common.forgot_password" />
        <activity android:name=".common.CustomerLogin" />
        <activity android:name=".common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>